body {
    margin: 0px;
    padding: 0px;
}
input {
    &:focus {
        outline-color: white;
    }
    color: white;
    background-color: $background-light;
}
.main-chat {
    &-content {
        background-color: $background;
        position: relative;
        height: 100vh;
    }
    &-sender {
        background-color: $background;
        position: fixed;
        padding-right: 5px;
        padding-left: 5px;
        bottom: 0;
        width: 100%;
        margin-bottom: 5px;
        .console {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
            height: calc(100% - 30px);
            .input {
                width: calc(100% - 75px);
                padding: 25px;
                border: 0;
                height: 50px;
                font-size: 16px;
                border-radius: 5px;
            }
            .submit {
                color: white;
                width: 40px;
                min-width: 40px;
                height: 40px;
                margin: 7px;
                background-color: $background-button;
                border-radius: 5px;
                border: 0 !important;
                font-weight: 800;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
