body {
    font-family: Tahoma, sans-serif;
}
.main-message {
    &-area {
        overflow-y: auto;
        display: block;
        padding: 45px;
        height: calc(100vh - 190px);
        background-color: $primary-light;
    }
}
.message {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    &-box {
        .time {
            position: relative;
            float: right;
            font-size: 10px;
            left: 10px;
        }
        .name {
            position: relative;
            float: left;
            font-size: 12px;
            right: 10px;
        }
        display: flex;
        width: 100%;
    }
    .text {
        &-left {
            margin-top: 15px;
        }
        &-rigth {
        }
    }
    &-left {
        background-color: $gray1;
        float: left;
        border-radius: 0px 5px 5px 5px;
    }
    &-rigth {
        background-color: $primary-color;
        flex-direction: row-reverse;
        align-items: center;
        color: $white;
        margin-left: auto;
        border-radius: 5px 0 5px 5px;
    }
}
