body {
    font-family: Tahoma, sans-serif;
}
.main-message {
    &-area {
        overflow-y: auto;
        display: block;
        padding: 15px;
        height: calc(100vh - 64px);
    }
}
.messages {
    margin-top: 70px;
}
.message {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 5px;
    &-box {
        color: white;
        .time {
            position: relative;
            float: right;
            font-size: 10px;
            left: 10px;
        }
        .name {
            position: relative;
            float: left;
            font-size: 12px;
            right: 10px;
        }
        display: flex;
        width: 100%;
    }
    .text {
        &-left {
            margin-top: 25px;
        }
        &-right {
        }
    }
    &-left {
        float: left;
        border-radius: 0px 5px 5px 5px;
    }
    &-right {
        background-color: $green;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: auto;
        border-radius: 5px 0 5px 5px;
    }
}
