$contant-spacing: 45px;
$primary-light: #eff7fe;
$dark-color: #223645;
$light-color: #eff1f2;
$primary-color: #255C4C;
$dark-green: #202C33;
$white: #ffffff;
$success-color: #3fcc35;
$danger-color: #ff4e2b;
$warning-color: #ffc514;
$gray:  #828282;
$gray1: #e5edf5;
$gray2: #f4f5f6 ;
$facebook-color:#3b5998;
$instagram-color: #e4405f;
$twiter: #55acee;
$google-color: #dc4e41;
$linkedin-color: #0e76a8;
$slack: #3aaf85;
$dark : #191b1f;
$light : #25262c;
$dark-border : #414248;
$border-color2: #ddd;
$cross-color:#d0eafb;