$small: 749px;

@for $x from 1 through 49 {
  .video-#{$x} {
    @if $x == 1 {
      width: 100%;
      height: 100%;
    }

    @if $x == 2 {
      @media screen and (max-width: $small) {
        width: 100%;
        height: 49%;
      }
      @media screen and (min-width: $small) {
        width: 49%;
        height: 100%;
      }
    }

    @if $x == 3 or $x == 4 {
      width: 49%;
      height: 49%;
    }

    @if $x == 5 or $x == 6 {
      width: 33%;
      height: 49%;
    }

    @if $x == 7 or $x == 8 or $x == 9 {
      width: 33%;
      height: 33%;
    }

    @if $x == 10 or $x == 11 or $x == 12 {
      width: 25%;
      height: 25%;
    }

    @if $x == 13 or $x == 14 or $x == 15 {
      width: 20%;
      height: 20%;
    }

    @if $x == 16 or $x == 17 or $x == 18 {
      width: 15%;
      height: 25%;
    }

    @if $x > 18 and $x < 35 {
      width: 15%;
      height: 15%;
    }

    @if $x >= 35 {
      width: 10%;
      height: 10%;
    }
  }
}

.drag-handler {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
}

.videocall-footer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 5%;
  width: 100%;
  z-index: 99;
  color: white;
  background-color: transparent;
  .footer-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    &-left {
      justify-content: left;
      margin-left: 5px;
    }
    &-right {
      justify-content: right;
      justify-content: flex-end;
      margin-right: 5px;
    }
    &-center {
      justify-content: center;
    }
    &-button {
      color: #ffffff;
      font-size: 5px;
      width: 40px;
      min-width: 40px;
      height: 40px;
      margin: 4px;
      border-radius: 5px;
      border: 0 !important;
      font-weight: 800;
      align-items: center;
      justify-content: center;
      display: inline-flex;
    }
  }
  .redish {
    background-color: #33202096;
  }
  .bluish {
    background-color: #202c3396;
  }
}

.videocall-header {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 99;
  width: 100%;
  color: white;
  background-color: transparent;
  .header-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    &-left {
      justify-content: left;
      margin-left: 5px;
    }
    &-right {
      justify-content: right;
      justify-content: flex-end;
      margin-right: 5px;
    }
    &-center {
      justify-content: center;
    }
    &-button {
      background-color: #202c33;
      color: #ffffff;
      font-size: 5px;
      width: 35px;
      min-width: 35px;
      height: 35px;
      margin: 4px;
      border-radius: 5px;
      border: 0 !important;
      font-weight: 800;
      align-items: center;
      justify-content: center;
      display: inline-flex;
    }
  }
}
